/* TODO rationalise css */

/* core bits */

body {
    margin-bottom: 5em;
}

.content {
    min-height: 300px;
}

footer .navbar-brand {
    font-size: 80%;
    height: 10px;
    line-height: 10px;
    padding: 5px 15px;
}

footer.navbar {
    margin-top: 1em;
    min-height: 25px;
}

/* stuff*/

.mm_loading_bar {
    height: 40px;
}

.mm_loading:first-child {
    border-left: solid 1px black;
}

.mm_loading {
    overflow: hidden;
    background-color: lightgray;

    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    float: left;
    margin: 0;
    height: 50px;

}

.mm_hover_message {
    display: none;
}

.mm_loading_hover {
    padding: 0.5em;
    border: solid 2px black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}

.mm_loading_free {
    background-image: url('/stripe.png');
}

.mm_loading_inner {
    height: 36px;
    font-size: 15px;
    white-space: nowrap;
    display: inline-block;
    padding: 4px;
}

.mm_cat_teaching {
    background-color: #8697a4;
}

.mm_cat_penguin {
    background-color: #c09d88;
}

.mm_target_indicator_bar {
    overflow: hidden;
    clear: both;
}

.mm_target_indicator {
    text-align: right;
    overflow: hidden;
    padding-right: 4px;
    border-right: solid 1px #000;
    color: #666;
    font-size: 10px;
}

.mm_target_bar {
    overflow: hidden;
    clear: both;
    height: 20px;
}

.mm_target {
    overflow: hidden;
    background-color: green;
    float: left;
    margin: 0;
    font-size: 10px;
}

.mm_target_alloc {
    background-color: #83de7a;
}

.mm_target_free {
    background-color: #d3de60;
}

.mm_target_over {
    background-color: #de5b64;
}

.mm_target:first-child {
}

.mm_target_inner {
    white-space: nowrap;
    display: inline-block;
    padding: 4px;
    height: 24px;
}

.mm_record_report {
    clear: both;
    margin-top: 1em;
}

.mm-datatable {
    border-collapse: collapse;
}

.mm-datatable th {
    text-align: right;
    vertical-align: top;
    background-color: #ccc;
    padding: 3px;
    border: solid 1px #999;
}

.mm-datatable td {
    vertical-align: top;
    padding: 3px;
    border: solid 1px #999;
    background-color: #eee;
}

/* inspect record */
.mm-record-block .panel-heading {
    padding: 1px 15px;
}

.mm-record-block .mm-record-block {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mm-record-block th {
    text-align: right;
    background-color: #f5f5f5;
    border-right: solid 1px #dddddd;
    padding: 0px 2px 0px 8px !important;
}

.mm-record-block td {
    padding: 0px 2px 0px 8px !important;
}

.mm-record-block table th {
    white-space: nowrap;
}

.mm-null {
    font-style: italic;
    color: #dddddd;
}

/* forms */

.form-check-input {
    padding: 10px;
}

/* side status indicator */
.mm_sidestatus {
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    width: 300px;
    transform: rotate(-90deg);
    overflow: hidden;
    transform-origin: left top 0;
    position: absolute;
    left: 0em;
    top: 350px;
    text-align: right;
}

.mm_sidestatus_draft {
    background-color: darkorange;
    color: #000;
}

.mm_sidestatus_current {
    background-color: darkblue;
    color: #fff;
}

.mm_sidestatus_scrap {
    background-color: darkred;
    color: #fff;
}

.mm_sidestatus_archive {
    background-color: darkgray;
    color: #000;
}

