/* core bits */

body {
    margin-bottom: 5em;
}

.content {
    min-height: 300px;
}

header .navbar-ident {
    font-weight: 100;
}

footer .navbar-brand {
    font-size: 80%;
    height: 10px;
    line-height: 10px;
    padding: 5px 15px;
}

footer.navbar {
    margin-top: 1em;
    min-height: 25px;
}

.dropdown {
    cursor: pointer;
}

.mm-code {
    font-family: monospace;
}

.mm-lozenge {
    display: inline-block;
    vertical-align: middle;
    margin: 3px 0;
    background-color: #ccc;
    border: solid 1px #999;
    padding: 1px 10px;
    border-radius: 10px;
    text-align: center;
}

/* end core bits */

/* dev banners */

/* LINKS TABLE (before data table) */

.mm-links-table {
    border-collapse: collapse;
}

.mm-links-table th {
    text-align: left;
}

.mm-links-table td {
    border: solid 1px #999;
    padding: 0;
}

/* DATA TABLE (overrides links table options) */

.mm-datatable {
    border-collapse: collapse;
}

.mm-datatable th {
    text-align: right;
    vertical-align: top;
    background-color: #ccc;
    padding: 3px;
    border: solid 1px #999;
}

.mm-datatable td {
    vertical-align: top;
    padding: 3px;
    border: solid 1px #999;
    background-color: #eee;
}

.mm-default {
    font-size: 70%;
    color: #888;
}

.mm-default:before {
    content: ' [';
    white-space: nowrap;
}

.mm-default:after {
    content: ']';
}

/* End, er, stuff */

/* inspect record */
/*
.mm-record-block .panel-heading {
    padding: 1px 15px;
}

.mm-record-block .mm-record-block {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mm-record-block .mm-datatable th {
    text-align: right;
    background-color: #f5f5f5;
    border-right: solid 1px #dddddd;
    padding: 0px 2px 0px 8px !important;
}

.mm-record-block .mm-datatable td {
    padding: 0px 2px 0px 8px !important;
}

.mm-record-block table th {
    white-space: nowrap;
}

.mm-null {
    font-style: italic;
    color: #dddddd;
}


*/

/* forms */

.mm-form-checkbox-input {
    padding: 10px;
}

.mm-link-edit-list .mm-chopping-block .mm-record-stub {
    background-color: #ccc;
    border-color: #999;
    color: #999;
    text-decoration: #000 line-through;
}

ul.mm-link-edit-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.mm-link-edit-list .mm-record-stub {
    font-size: 100% !important;
}

/* the order of these is important! */
.mm-link-edit-list .mm-button-undo {
    display: none;
}

.mm-link-edit-list .mm-chopping-block .mm-button-undo {
    display: inline-block;
}

.mm-link-edit-list .mm-chopping-block .mm-button-remove {
    display: none;
}

.mm-at-max .mm-link-edit-list-add,
.mm-above-max .mm-link-edit-list-add {
    display: none;
}

tr.mm-above-max th,
tr.mm-above-max td,
tr.mm-below-min th,
tr.mm-below-min td {
    background-color: #be8788;
}

.mm-link-edit-list.mm-at-max .mm-button-undo {
    display: none;
}

.mm-link-edit-list.min .mm-button-remove {
    display: none;
}

ul.mm-link-edit-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mm-form-action {
    display: none;
}

.mm-form-buttons {
    margin-top: 1em;
}

.mm-form-fields {
    width: 100%;
}

.mm-form-fields th {
    text-align: right;
    padding: 0 0.5em 0.5em 0;
    vertical-align: top;
}

.mm-form-fields td {
    padding: 0 0 0.5em 0;
}

/* end forms */

/* side status indicator */

.mm-sidestatus {
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    width: 300px;
    transform: rotate(-90deg);
    overflow: hidden;
    transform-origin: left top 0;
    position: absolute;
    left: 0;
    top: 350px;
    text-align: right;
}

.mm-sidestatus-draft {
    background-color: darkorange;
    color: #000;
}

.mm-sidestatus-current {
    background-color: darkblue;
    color: #fff;
}

.mm-sidestatus-scrap {
    background-color: darkred;
    color: #fff;
}

.mm-sidestatus-archive {
    background-color: darkgray;
    color: #000;
}

/* end side status indicator */

/* record block */

table.mm-record {
    width: 100%;
    border-collapse: separate;
}

table.mm-record > thead > tr > th {
    background-color: #adc3d3;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    padding: 1px 10px;
    font-size: 80%;
}

table.mm-record > thead > tr > th:first-child {
    border-top-left-radius: 10px;
    border-left: solid 1px #000;
}

table.mm-record > thead > tr > th:last-child {
    border-top-right-radius: 10px;
}

table.mm-record > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 10px;
}

table.mm-record > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 10px;
}

table.mm-record > tbody > tr:last-child > td:first-child {
    background-color: #ddf;
    box-shadow: none;
}

table.mm-record > tbody > tr > td {
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    vertical-align: top;
    background-color: #ddd;
    padding: 10px;
}

table.mm-record {
    margin-bottom: 1em;
}

table.mm-record > tbody > tr > td > table.mm-record:last-child {
    margin-bottom: 0;
}

table.mm-record > tbody > tr > td:first-child {
    border-left: solid 1px #000;
}

table.mm-record-data th {
    white-space: nowrap;
    padding-right: 0.5em;
    text-align: right;
    font-weight: normal;
    vertical-align: top;
    border-bottom: solid 1px #bbc;
}

table.mm-record-data tr:last-child th {
    border-bottom: none;
}

table.mm-record > thead > tr > th.mm-record-action {
    padding: 0;
    width: 40px;
    background-color: #093263;
}

table.mm-record > thead > tr > th.mm-record-action a {
    padding: 1px 10px;
    color: #fff;
}

table.mm-record-data td {
    width: 100%;
    background-color: #eee;
    padding: 0 5px;
    border: solid 1px #ccc;
    vertical-align: top;
}

.mm-record.mm-highlight > thead > tr > th {
    background-color: #6787a4;
}

.mm-record.mm-highlight > thead > tr > th a {
    color: #fff;
}

/* end record */

/* start mini record */

.mm-record-stub {
    display: inline-block;
    vertical-align: middle;
    margin: 3px 0;
    font-size: 80%;
    border-collapse: separate;
}

.mm-record-stub > tbody > tr > td {
    background-color: #ddf;
    border-left: solid 1px #000;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    vertical-align: middle;
}

.mm-record-stub > tbody > tr > td > a {
    display: block;
    color: #000;
    padding: 1px 5px;
}

.mm-record-stub > tbody > tr > td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mm-record-stub > tbody > tr > td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #000;
}

.mm-record-stub > tbody > tr > td.mm-record-stub-action {
    background-color: #093263;
    padding: 0;
}

.mm-record-stub > tbody > tr > td.mm-record-stub-action a {
    color: #fff;
}

.mm-record-stub.mm-highlight > tbody > tr > td {
    background-color: #6787a4;
}

.mm-record-stub.mm-highlight > tbody > tr > td.mm-record-stub-action {
    background-color: #093263;
}

.mm-record-stub.mm-highlight > tbody > tr > td > a {
    color: #ffffff;
}

.mm-record-stub > tbody > tr > td > a:hover {
    text-decoration: none;
}

.mm-filtered-one-match .mm-record-stub-title {
    background-color: #95d38d !important;
}

.mm-filtered-one-match .mm-record-stub-action {
    background-color: #326332 !important;
}

/* end mini record block */

/* button */

.mm-button {
    color: #000;
    display: inline-block;
    margin: 3px 0;
    background-color: #adc3d3;
    border: solid 1px #000;
    padding: 1px 3px;
    font-size: 80%;
    border-radius: 10px;
}

.mm-button:hover {
    text-decoration: none;
    background-color: #6787a4;
    cursor: pointer;
    color: #000;
}

.mm-button-remove {
    background-color: #de4235;
    color: #fff;
}

.mm-button-remove:hover {
    background-color: #9e2f24;
    color: #fff;
}

.mm-button-add {
    background-color: #54de3f;
    color: #000;
}

.mm-button-add:hover {
    background-color: #2c9e29;
    color: #000;
}

/* end button */

/* Background images */

.mm-doc-status-draft {
    background-image: url(/draft.png);
}

.mm-doc-status-archive {
    background-image: url(/archive.png);
}

.mm-doc-status-scrap {
    background-image: url(/scrap.png);
}

/* REPORT */

.mm-report-wrapper {
    overflow-x: auto;
}

.mm-report {
}

.mm-report thead th {
    border-bottom: solid 1px #eee;
}

.mm-report tbody td {
    border-bottom: solid 1px #eee;
    vertical-align: top;
}

.mm-report-header-data {
    border-left: solid 1px #eeeeee;
    padding: 0 0.5em;
}

.mm-record-report-data {
    border-left: solid 1px #eeeeee;
    padding: 0 0.5em;
    text-align: right;
}

.mm-record-report-icon {
    padding: 0 0.5em;
}
.mm-record-report-visual .mm-graph {
    margin-top: 4px;
}

.mm-record-report-visual {
    border-left: solid 1px #eeeeee;
    padding: 0 0.5em;
    width: 100%;
}

.mm-record-report-visual > div {
    display:none;
}

.mm-record-report-visual-breakdown td {
    padding: 1px 10px;
}
.mm-record-report-visual-breakdown td:first-child {
    text-align: right;
}

.mm-record-report {
    clear: both;
    margin: 1em 0;
}

/* END OF REPORT */

/* REPORT GRAPH */

.mm-graph {
}

.mm-loading-bar > div:first-child > .mm-loading {
    border-left: solid 1px black;
}

/* do not add any padding to the outer loading (here) as
   it messes up widths of the graph.
 */
.mm-loading {
    overflow: hidden;
    background-color: lightgray;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    text-align: left;
    font-weight: 100;
    float: left;
    margin: 0;
    height: 25px;
}

.mm-hover-message {
    display: none;
}

.mm-loading-hover-rule {
    font-size: 80%;
}

.mm-loading-hover-description {
    font-weight: bold;
}

.mm-loading-hover-category {
    font-size: 80%;
}

.mm-loading-hover {
    padding: 0.5em;
    border: solid 2px black;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}

.mm-loading-free {
    background-image: url('/stripe.png');
}

.mm-loading-inner {
    height: 24px;
    font-size: 15px;
    white-space: nowrap;
    display: inline-block;
    padding: 2px;
    color: black;
}

.mm-loading-inner:hover {
    text-decoration: none;
    color: #000;
}

.mm-target-indicator-bar {
    overflow: hidden;
    clear: both;
}

.mm-target-indicator {
    border-right: solid 1px #000;
    padding-right: 4px;
}
.mm-target-indicator-text, .mm-target-indicator {
    text-align: right;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
    font-size: 10px;
}

.mm-target-bar {
    overflow: hidden;
    clear: both;
    height: 12px;
}

.mm-target {
    overflow: hidden;
    background-color: green;
    float: left;
    font-size: 10px;
}

/* fancy curved targets */
.mm-target {
    margin: -1px 0 0 0;
    padding-right: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mm-target-alloc {
    background-color: #83de7a;
}

.mm-target-free {
    background-color: #d3de60;
}

.mm-target-over {
    background-color: #de5b64;
}

.mm-target:first-child {
}

.mm-target-inner {
    white-space: nowrap;
    display: inline-block;
    padding: 0 4px;
    height: 24px;
}

/* END OF REPORT GRAPH */

/* site status banner  */

.mm-site-status-local .mm-status-banner,
.mm-site-status-pprd .mm-status-banner {
    height: 10px;
    background: url(hazard.png) repeat;
}

.mm-site-status-local header .navbar {
    background-color: #093263;
}

.mm-site-status-pprd header .navbar {
    background-color: #63370b;
}

.mm-site-status-text {
    background-color: #000;
    color: #fff !important;
    font-style: italic;
    font-size: 12px; /* down 2px to fit border */
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #fff;
    border-radius: 10px;
}

/* endsite status banner  */

/* filtered lists */

.mm-filtered-item {
    display: inline-block;
}

/* end of filtered lists */