.mm_loading_bar {
    height: 40px;
}
.mm_loading:first-child {
    border-left: solid 1px black;
}
.mm_loading {
    overflow: hidden;
    background-color: lightgray;

    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    float:left;
    margin: 0;
    height:50px;

}

.mm_loading_inner {
    height:36px;
    font-size: 15px;
    white-space: nowrap;
    display: inline-block;
    padding: 4px;
}
.mm_cat_teaching {
    background-color: #8697a4;
}
.mm_cat_penguin {
    background-color: #a48971;
}
.mm_target_bar {
    overflow: hidden;
    clear: both;
    height: 30px;
}
.mm_target_indicator_bar {
    overflow: hidden;
    clear: both;
}

.mm_target_indicator {
    text-align: right;
    overflow: hidden;
    padding-right: 4px;
    border-right: solid 1px #000;
    color: #666;
    font-size: 10px;
}

.mm_target {
    overflow: hidden;
    background-color: green;
    float: left;
    margin: 0;
}
.mm_target_alloc {
    background-color: #83de7a;
}
.mm_target_free {
    background-color: #d3de60;
}

.mm_target_over {
    background-color: #de5b64;
}
.mm_target:first-child {
}
.mm_target_inner {
    white-space: nowrap;
    display: inline-block;
    padding: 4px;
    height: 34px;
}
.mm_record_report {
    clear: both;
    margin-top: 1em;
}
body {
    margin-bottom: 5em;
}

.mm_datatable {
    border-collapse: collapse;
}
.mm_datatable th {
    text-align: right;
    vertical-align: top;
    background-color: #ccc;
    padding: 3px;
    border: solid 1px #999;
}
.mm_datatable td {
    vertical-align: top;
    padding: 3px;
    border: solid 1px #999;
    background-color: #eee;
}


.mm_inspect_record_record {
    background-color: #666;
    padding: 4px;
}
.mm_inspect_record {
    margin-bottom: 8px;
}
.mm_inspect_record td {
    vertical-align: top;
}