
/* core bits */

body {
    margin-bottom: 5em;
}

.content {
    min-height: 300px;
}

header .navbar-ident {
    font-weight: 100;
}

footer .navbar-brand {
    font-size: 80%;
    height: 10px;
    line-height: 10px;
    padding: 5px 15px;
}

footer.navbar {
    margin-top: 1em;
    min-height: 25px;
}

/* end core bits */

/* LINKS TABLE (before data table) */

.mm-links-table {
    border-collapse: collapse;
}

.mm-links-table th {
    text-align: left;
}

.mm-links-table td {
    border: solid 1px #999;
    padding: 0;
}

/* DATA TABLE (overrides links table options) */

.mm-datatable {
    border-collapse: collapse;
}

.mm-datatable th {
    text-align: right;
    vertical-align: top;
    background-color: #ccc;
    padding: 3px;
    border: solid 1px #999;
}

.mm-datatable td {
    vertical-align: top;
    padding: 3px;
    border: solid 1px #999;
    background-color: #eee;
}

.mm-default {
    font-size: 70%;
    color: #888;
}

.mm-default:before {
    content: ' [';
    white-space: nowrap;
}

.mm-default:after {
    content: ']';
}

/* End, er, stuff */

/* inspect record */
/*
.mm-record-block .panel-heading {
    padding: 1px 15px;
}

.mm-record-block .mm-record-block {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mm-record-block .mm-datatable th {
    text-align: right;
    background-color: #f5f5f5;
    border-right: solid 1px #dddddd;
    padding: 0px 2px 0px 8px !important;
}

.mm-record-block .mm-datatable td {
    padding: 0px 2px 0px 8px !important;
}

.mm-record-block table th {
    white-space: nowrap;
}

.mm-null {
    font-style: italic;
    color: #dddddd;
}
*/

/* forms */

.mm-form-checkbox-input {
    padding: 10px;
}

.mm-link-edit-list .mm-chopping-block .mm-record-stub {
    background-color: #ccc;
    border-color: #999;
    color: #999;
    text-decoration: #000 line-through;
}

ul.mm-link-edit-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* the order of these is important! */
.mm-link-edit-list .mm-button-undo {
    display: none;
}

.mm-link-edit-list .mm-chopping-block .mm-button-undo {
    display: inline-block;
}

.mm-link-edit-list .mm-chopping-block .mm-button-remove {
    display: none;
}

.mm-at-max .mm-link-edit-list-add,
.mm-above-max .mm-link-edit-list-add {
    display: none;
}

tr.mm-above-max th,
tr.mm-above-max td,
tr.mm-below-min th,
tr.mm-below-min td {
    background-color: #be8788;
}

.mm-link-edit-list.mm-at-max .mm-button-undo {
    display: none;
}

.mm-link-edit-list.min .mm-button-remove {
    display: none;
}

ul.mm-link-edit-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mm-form-action {
    display: none;
}

.mm-form-buttons {
    margin-top: 1em;
}

.mm-form-fields {
    width: 100%;
}

.mm-form-fields th {
    text-align: right;
    padding: 0 0.5em 0.5em 0;
    vertical-align: top;
}

.mm-form-fields td {
    padding: 0 0 0.5em 0;
}

/* end forms */

/* side status indicator */

.mm_sidestatus {
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    width: 300px;
    transform: rotate(-90deg);
    overflow: hidden;
    transform-origin: left top 0;
    position: absolute;
    left: 0;
    top: 350px;
    text-align: right;
}

.mm_sidestatus_draft {
    background-color: darkorange;
    color: #000;
}

.mm_sidestatus_current {
    background-color: darkblue;
    color: #fff;
}

.mm_sidestatus_scrap {
    background-color: darkred;
    color: #fff;
}

.mm_sidestatus_archive {
    background-color: darkgray;
    color: #000;
}

/* end side status indicator */

/* record block */

table.mm-record {
    width: 100%;
    border-collapse: separate;
}

table.mm-record > thead > tr > th {
    background-color: #adc3d3;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    padding: 1px 10px;
    font-size: 80%;
}

table.mm-record > thead > tr > th:first-child {
    border-top-left-radius: 10px;
    border-left: solid 1px #000;
}

table.mm-record > thead > tr > th:last-child {
    border-top-right-radius: 10px;
}

table.mm-record > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 10px;
}

table.mm-record > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 10px;
}

table.mm-record > tbody > tr:last-child > td:first-child {
    background-color: #ddf;
    box-shadow: none;
}

table.mm-record > tbody > tr > td {
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    vertical-align: top;
    background-color: #ddd;
    padding: 10px;
}

table.mm-record {
    margin-bottom: 1em;
}

table.mm-record > tbody > tr > td > table.mm-record:last-child {
    margin-bottom: 0;
}

table.mm-record > tbody > tr > td:first-child {
    border-left: solid 1px #000;
}

table.mm-record-data th {
    white-space: nowrap;
    padding-right: 0.5em;
    text-align: right;
    font-weight: normal;
    vertical-align: top;
    border-bottom: solid 1px #bbc;
}

table.mm-record-data tr:last-child th {
    border-bottom: none;
}


table.mm-record-data td {
    width: 100%;
    background-color: #eee;
    padding: 0 5px;
    border: solid 1px #ccc;
    vertical-align: top;
}

.mm-record-stub:hover {
    text-decoration: none;
    color: #000;
}

.mm-record-stub {
    color: #000;
    display: inline-block;
    margin: 3px 0;
    background-color: #adc3d3;
    border: solid 1px #000;
    padding: 1px 10px;
    font-size: 80%;
    border-radius: 10px;
}

.mm-record-stub.mm-highlight {
    background-color: #6787a4;
}

.mm-record.mm-highlight > thead > tr > th {
    background-color: #6787a4;
}

.mm-record.mm-highlight > thead > tr > th a {
    color: #fff;
}

/* end record block */

/* button */

.mm-button {
    color: #000;
    display: inline-block;
    margin: 3px 0;
    background-color: #adc3d3;
    border: solid 1px #000;
    padding: 1px 3px;
    font-size: 80%;
    border-radius: 10px;
}

.mm-button:hover {
    text-decoration: none;
    background-color: #6787a4;
    cursor: pointer;
    color: #000;
}

.mm-button-remove {
    background-color: #de4235;
    color: #fff;
}

.mm-button-remove:hover {
    background-color: #9e2f24;
    color: #fff;
}

.mm-button-add {
    background-color: #54de3f;
    color: #000;
}

.mm-button-add:hover {
    background-color: #2c9e29;
    color: #000;
}

/* end button */

/* Background images */

.mm-status-draft {
    background-image: url(/draft.png);
}

.mm-status-archive {
    background-image: url(/archive.png);
}

.mm-status-scrap {
    background-image: url(/scrap.png);
}

/* REPORT */

.mm_report_wrapper {
    overflow-x: auto;
}

.mm_report {
    width: 100%
}

.mm_report thead th {
    border-bottom: solid 1px #eee;
}

.mm_report tbody td {
    border-bottom: solid 1px #eee;
    text-align: right;
}

.mm_report_header_data {
    border-left: solid 1px #eeeeee;
    padding: 0 0.5em;
}

.mm_record_report_data {
    border-left: solid 1px #eeeeee;
    padding: 0 0.5em;
}

.mm_record_report_icon {
    padding: 0 0.5em;
}

.mm_record_report_graph {
    border-left: solid 1px #eeeeee;
    padding: 0 0.5em;
    width: 100%;
}

.mm_record_report {
    clear: both;
    margin: 1em 0;
}

/* END OF REPORT */

/* REPORT GRAPH */

.mm_loading:first-child {
    border-left: solid 1px black;
}

.mm_loading {
    overflow: hidden;
    background-color: lightgray;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    float: left;
    margin: 0;
    height: 25px;
}

.mm_hover_message {
    display: none;
}

.mm_loading_hover_rule {
    font-size: 80%;
}

.mm_loading_hover_description {
    font-weight: bold;
}

.mm_loading_hover_category {
    font-size: 80%;
}

.mm_loading_hover {
    padding: 0.5em;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}

.mm_loading_free {
    background-image: url('/stripe.png');
}

.mm_loading_inner {
    height: 24px;
    font-size: 15px;
    white-space: nowrap;
    display: inline-block;
    padding: 2px;
    color: black;
}

.mm_loading_inner:hover {
    text-decoration: none;
    color: #000;
}

.mm_target_indicator_bar {
    overflow: hidden;
    clear: both;
}

.mm_target_indicator {
    text-align: right;
    overflow: hidden;
    padding-right: 4px;
    border-right: solid 1px #000;
    color: #666;
    font-size: 10px;
}

.mm_target_bar {
    overflow: hidden;
    clear: both;
    height: 12px;
}

.mm_target {
    overflow: hidden;
    background-color: green;
    float: left;
    margin: 0;
    font-size: 10px;
}

.mm_target_alloc {
    background-color: #83de7a;
}

.mm_target_free {
    background-color: #d3de60;
}

.mm_target_over {
    background-color: #de5b64;
}

.mm_target:first-child {
}

.mm_target_inner {
    white-space: nowrap;
    display: inline-block;
    padding: 0px 4px;
    height: 24px;
}

/* END OF REPORT GRAPH */

/* Stuff that needs to be removed in final version */

.mm_cat_null {
    background-color: lightgrey;
}

.mm_cat_teaching {
    background-color: #8697a4;
}

.mm_cat_admin {
    background-color: #c09d88;
}

/* End of Stuff that needs to be removed in final version */
